<div>
  <div>
    <div class="py-lg-8">
      <h2>Facade Inspections List</h2>
    </div>

    <div class="card">
      <div class="card-header border-0 pt-6">
        <div class="card-toolbar">
          <%= link_to 'Create Inspection', '#', class: 'btn btn-success', data: { controller: 'modal', action: 'modal#open', bs_target: "#newModal" } %>
        </div>
      </div>
      <div class="card-body">
        <table class="table align-middle table-row-dashed gy-3">
          <thead>
          <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
            <th class="min-w-125px">TR6 No</th>
            <th class="min-w-125px">Control No</th>
            <th class="min-w-125px">Filing Type</th>
            <th class="min-w-125px">Cycle</th>
            <th class="min-w-125px">Sequence No</th>
            <th class="min-w-125px">Submitted On</th>
            <th class="min-w-125px">Current Status</th>
            <th class="min-w-125px">QEWI Name</th>
            <th class="min-w-125px">QEWI Business Name</th>
            <th class="min-w-125px">QEWI NYS License No</th>
            <th class="min-w-125px">QEWI Signed Date</th>
            <th class="min-w-125px">Filing Date</th>
            <th class="min-w-125px">Filing Status</th>
            <th class="min-w-125px">Field Inspection Completed Date</th>
            <th class="min-w-125px">Late Filing Amount</th>
            <th class="min-w-125px">Failure to File Amount</th>
            <th class="min-w-125px">Failure to Collect Amount</th>
            <th class="min-w-125px">Comments</th>
          </tr>
          </thead>
          <tbody class="text-gray-600">
          <% @inspections.each do |inspection| %>
            <tr>
              <td><%= inspection.tr6_no %></td>
              <td><%= inspection.control_no %></td>
              <td><%= inspection.filing_type %></td>
              <td><%= inspection.cycle %></td>
              <td><%= inspection.sequence_no %></td>
              <td><%= inspection.submitted_on %></td>
              <td><%= inspection.current_status %></td>
              <td><%= inspection.qewi_name %></td>
              <td><%= inspection.qewi_bus_name %></td>
              <td><%= inspection.qewi_nys_lic_no %></td>
              <td><%= inspection.qewi_signed_date %></td>
              <td><%= inspection.filing_date %></td>
              <td><%= inspection.filing_status %></td>
              <td><%= inspection.field_inspection_completed_date %></td>
              <td><%= inspection.late_filing_amt %></td>
              <td><%= inspection.failure_to_file_amt %></td>
              <td><%= inspection.failure_to_collect_amt %></td>
              <td><%= inspection.comments %></td>

              <td></td>
              <td class="text-end">
                <div class="dropdown">
                  <div class="btn btn-sm btn-light dropdown-toggle">
                    Actions
                  </div>
                  <div class="dropdown-menu">
                    <div class="dropdown-item">
                      <%= link_to 'Edit', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#editModal#{inspection.id}" } %>
                    </div>
                    <div class="dropdown-item">
                      <%= link_to 'Delete', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#deleteModal#{inspection.id}" } %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <%#= render 'edit', inspection: inspection %>
            <%#= render 'delete', inspection: inspection %>
          <% end %>
          </tbody>
        </table>
        <div class="d-flex justify-content-center mt-4">
          <%= paginate @inspections, theme: 'bootstrap4' %>
        </div>
        <%#= render 'new' %>
      </div>
    </div>
  </div>
</div>
