<div>
  <div>
    <div class="py-lg-8">
      <h2>Cooling Tower Inspections List</h2>
    </div>

    <div class="card">
      <div class="card-header border-0 pt-6">
        <div class="card-toolbar">
          <%= link_to 'Create Inspection', '#', class: 'btn btn-success', data: { controller: 'modal', action: 'modal#open', bs_target: "#newModal" } %>
        </div>
      </div>
      <div class="card-body">
        <table class="table align-middle table-row-dashed gy-3">
          <thead>
          <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
            <th class="min-w-125px">System ID</th>
            <th class="min-w-125px">Status</th>
            <th class="min-w-125px">Active Equipment</th>
            <th class="min-w-125px">Inspection Date</th>
            <th class="min-w-125px">Violation Code</th>
            <th class="min-w-125px">Law Section</th>
            <th class="min-w-125px">Violation Text</th>
            <th class="min-w-125px">Violation Type</th>
            <th class="min-w-125px">Citation Text</th>
            <th class="min-w-125px">Summons Number</th>
            <th class="min-w-125px">Inspection Type</th>
          </tr>
          </thead>
          <tbody class="text-gray-600">
          <% @inspections.each do |inspection| %>
            <tr>
              <td><%= inspection.system_id %></div></td>
              <td><%= inspection.status %></td>
              <td><%= inspection.active_equip %></div></td>
              <td><%= inspection.inspection_date %></td>
              <td><%= inspection.violation_code %></td>
              <td><%= inspection.law_section %></td>
              <td><%= inspection.violation_text %></td>
              <td><%= inspection.violation_type %></td>
              <td><%= inspection.citation_text %></td>
              <td><%= inspection.summons_number %></td>
              <td><%= inspection.inspection_type %></td>

              <td></td>
              <td class="text-end">
                <div class="dropdown">
                  <div class="btn btn-sm btn-light dropdown-toggle">
                    Actions
                  </div>
                  <div class="dropdown-menu">
                    <div class="dropdown-item">
                      <%= link_to 'Edit', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#editModal#{inspection.id}" } %>
                    </div>
                    <div class="dropdown-item">
                      <%= link_to 'Delete', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#deleteModal#{inspection.id}" } %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <%#= render 'edit', inspection: inspection %>
            <%#= render 'delete', inspection: inspection %>
          <% end %>
          </tbody>
        </table>
        <div class="d-flex justify-content-center mt-4">
          <%= paginate @inspections, theme: 'bootstrap4' %>
        </div>
        <%#= render 'new' %>
      </div>
    </div>
  </div>
</div>
