<div>
  <div class="py-lg-8">
    <h2><%= @building&.name %> Upcoming Inspections (<%= @inspections.try(:total_count) %>)</h2>
  </div>
  <div class="card">
    <div class="d-flex border-0 p-6">
      <div class="me-auto">
        <%= form_with method: :get, local: true do %>
          <div class="d-flex">
            <div class="col-lg-12 me-2">
              <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control me-2" %>
            </div>
          </div>
        <% end %>
      </div>

      <%# if can?(:create, Inspection) %>
      <%#= link_to 'Add Inspection', '#', class: 'btn btn-success', data: { controller: 'modal', action: 'modal#open', bs_target: "#newModal" } %>
      <%# end %>
    </div>
    <div class="card-body">
      <table class="table align-middle table-row-dashed gy-3">
        <thead>
        <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
          <th class="min-w-125px">Inspection</th>
          <th class="min-w-125px">Description</th>
          <th class="min-w-100px">Filed Date</th>
          <th class="min-w-250px">Due Date</th>
          <th class="min-w-100px">Status</th>
          <th class="min-w-100px">Created On</th>
        </tr>
        </thead>

        <tbody>
        <% @inspections.each do |inspection| %>
          <tr>
            <td><%= inspection.inspection_rule.compliance_item.humanize.titleize %></td>
            <td><%= inspection.inspection_rule.description %></td>
            <td><%= inspection.filing_date %></td>
            <td><%= inspection.due_date&.strftime("%D") %></td>
            <td><%= inspection.status %></td>
            <td><%= inspection.created_at&.strftime("%D") %></td>
            <td>
              <div class="dropdown">
                <div class="btn btn-sm btn-light dropdown-toggle">
                  Actions
                </div>
                <div class="dropdown-menu">
                  <% if can?(:edit, inspection) %>
                    <div class="dropdown-item">
                      <%= link_to 'Edit', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#editModal#{inspection.id}" } %>
                    </div>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
          <%#= render 'edit', inspection: inspection %>
        <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-4">
        <%#= paginate @inspections, theme: 'bootstrap4' %>
      </div>
    </div>
  </div>
</div>
