<!--begin::Card body-->
<div class="card-body">
  <div class="row">
    <!--begin::First Column - Non-date fields-->
    <div class="col-md-12">
      <!--begin::Input group 1-->
      <div class="row mb-4 align-items-center">
        <label class="col-lg-3">Status</label>
        <div class="col-lg-9">
          <%= f.select :state, Complaints::Complaint.states.keys.map { |state| [state.titleize, state] }, { selected: f.object.object.state }, { class: 'form-control form-control-lg form-select', id: "state-select-#{f.object.id}" } %>

        </div>
      </div>
      <!--end::Input group 1-->

      <!--begin::Input group 2-->
      <div class="row mb-4 align-items-center" id="filing-date-group-<%= f.object.id %>">
        <label class="col-lg-3">Resolved Date</label>
        <div class="col-lg-9">
          <%= f.date_field :resolved_date, class: 'form-control form-control-lg' %>
        </div>
      </div>
      <!--end::Input group 2-->

      <!--begin::Input group 2-->
      <div class="row mb-12 align-items-center">
        <label class="col-lg-3">Attachments</label>
        <div class="col-lg-9">
          <%= f.file_field :attachments, multiple: true, class: 'form-control form-control-lg' %>
          <div class="form-text">In the file dialog Control Click (Windows) or Command Click (Mac) to select multiple files</div>

        </div>
      </div>
      <!--end::Input group 2-->

      <!--begin::Input group 3-->
      <div class="row align-items-center">
        <label class="col-lg-3 required">Comment</label>
        <div class="col-lg-9">
          <%= f.text_area :audit_comment, class: 'form-control form-control-lg', required: true, rows: 4 %>
        </div>
      </div>
      <!--end::Input group 3-->
    </div>
    <!--end::First Column-->
  </div>

  <%= f.hidden_field :building_id, value: @building&.id %>

  <% f.object.attachments.each do |attachment| %>
    <%= hidden_field_tag 'complaints_complaint[attachments][]', attachment.signed_id %>
  <% end %>

  <%= hidden_field_tag :state, params[:state] %>
</div>
<!--end::Card body-->

<div class="card-footer d-flex justify-content-end">
  <%= link_to 'Cancel', '#', data: { controller: 'modal', action: 'modal#close' }, class: 'btn btn-light btn-active-light-light me-2' %>
  <%= f.submit 'Save', class: "btn btn-success" %>
</div>
<!--end::Actions-->
