<!--begin::Card body-->
<div class="card-body p-9">
  <div class="row">
    <!--begin::First Column - Non-date fields-->
    <div class="col-lg-6">
      <!--begin::Input group 1-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label required fs-6">Complaint ID</label>
        <div class="col-lg-8">
          <%= f.text_field :complaint_id, required: true, class: 'form-control form-control-lg form-control-solid', placeholder: 'ABC123' %>
        </div>
      </div>
      <!--end::Input group 1-->

      <!--begin::Input group 2-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label required fs-6">Description</label>
        <div class="col-lg-8">
          <%= f.text_area :description, rows: 12, required: true, class: 'form-control form-control-lg form-control-solid', placeholder: 'Description' %>
        </div>
      </div>
      <!--end::Input group 2-->

      <!--begin::Input group 4 - State Field-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fs-6">Status</label>
        <div class="col-lg-8">
          <%= f.collection_select :state, ComplaintDecorator.states_select, :last, :first, { selected: f.try(:object).try(:object).try(:state) }, class: 'form-select form-select-lg form-select-solid' %>
        </div>
      </div>
      <!--end::Input group 4-->
    </div>
    <!--end::First Column-->

    <!--begin::Second Column - Date fields and State-->
    <div class="col-lg-6">

      <!--begin::Input group 4-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fs-6">Category</label>
        <div class="col-lg-8">
          <%= f.collection_select :category_code, ComplaintDecorator.categories_code_select, :last, :first, { selected: f.try(:object).try(:object).try(:category_code) }, class: 'form-select form-select-lg form-select-solid' %>
        </div>
      </div>
      <!--end::Input group 4-->

      <!--begin::Input group 4 - Emergency Field-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fs-6">Severity</label>
        <div class="col-lg-8">
          <%= f.collection_select :severity, ComplaintDecorator.severities_select, :last, :first, { selected: f.try(:object).try(:object).try(:severity) }, class: 'form-select form-select-lg form-select-solid' %>
        </div>
      </div>
      <!--end::Input group 4-->

      <!--begin::Input group 1-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fs-6">Filed Date</label>
        <div class="col-lg-8">
          <%= f.date_field :filed_date, class: 'form-control form-control-lg form-control-solid', placeholder: 'Filed Date' %>
        </div>
      </div>
      <!--end::Input group 1-->

      <!--begin::Input group 2-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fs-6">Inspection Date</label>
        <div class="col-lg-8">
          <%= f.date_field :inspection_date, class: 'form-control form-control-lg form-control-solid', placeholder: 'Inspection Date' %>
        </div>
      </div>
      <!--end::Input group 2-->

      <!--begin::Input group 4 - State Field-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fs-6">Disposition</label>
        <div class="col-lg-8">
          <%= f.collection_select :disposition_code, ComplaintDecorator.disposition_codes_select, :last, :first, { selected: f.try(:object).try(:object).try(:disposition_code) }, class: 'form-select form-select-lg form-select-solid' %>
        </div>
      </div>
      <!--end::Input group 4-->

      <!--begin::Input group 3-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fs-6">Disposition Date</label>
        <div class="col-lg-8">
          <%= f.date_field :disposition_date, class: 'form-control form-control-lg form-control-solid', placeholder: 'Disposition Date' %>
        </div>
      </div>
      <!--end::Input group 3-->
    </div>
    <!--end::Second Column-->
  </div>

  <%= f.hidden_field :building_id, value: @building&.id %>
</div>
<!--end::Card body-->

<!--begin::Actions-->
<div class="card-footer d-flex justify-content-end py-6 px-9">
  <%= link_to 'Cancel', '#', data: { controller: 'modal', action: 'modal#close' }, class: 'btn btn-light btn-active-light-light me-2' %>
  <button type="submit" class="btn btn-success" id="kt_account_profile_details_submit">Save</button>
</div>
<!--end::Actions-->
