<div data-controller="modal">
  <%= turbo_frame_tag "modal" do %>
    <div class="turbo-modal w-500px">
      <!--begin::Form-->
      <%= form_for(@portfolio, data: { turbo: false }) do |f| %>
        <!--begin::Card body-->
        <div class="card-body p-9">
          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label required fs-6">Name</label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8">
              <!--begin::Row-->
              <div class="row">
                <!--begin::Col-->
                <div class="col-lg-8-6 fv-row">
                  <%= f.text_field :name, required: true, class: 'form-control form-control-lg form-control-solid', placeholder: 'Billionaires Row' %>
                </div>
                <!--end::Col-->
              </div>
              <!--end::Row-->
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <label class="col-lg-4 col-form-label fs-6">Description</label>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <%= f.text_area :description, rows: 4, class: 'form-control form-control-lg form-control-solid', placeholder: '57th Street between Columbus Circle and Park Avenue' %>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->
        </div>
        <!--end::Card body-->
        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <%= link_to 'Cancel', '#', data: { controller: 'modal', action: 'modal#close' }, class: 'btn btn-light btn-active-light-light me-2' %>
          <button type="submit" class="btn btn-success" id="kt_account_profile_details_submit">Save</button>
        </div>
        <!--end::Actions-->
      <% end %>
      <!--end::Form-->
    </div>
  <% end %>
</div>