<div>
  <div>
    <div class="py-lg-8">
      <h2>User List</h2>
    </div>

    <div class="card">
      <div class="card-header border-0 pt-6">
        <div class="card-toolbar">
          <%= link_to 'Invite User', '#', class: 'btn btn-success', data: { controller: 'modal', action: 'modal#open', bs_target: "#newModal" } %>
        </div>
      </div>
      <div class="card-body">
        <table class="table align-middle table-row-dashed gy-3">
          <thead>
          <tr class="text-start text-muted fw-bold fs-7 text-uppercase">
            <th>Name</th>
            <th>Email Address</th>
            <th>SMS</th>
            <th>Portfolios</th>
            <th>Buildings</th>
            <th>Accepted Invite</th>
            <th>Admin</th>
          </tr>
          </thead>
          <tbody>
          <% @users.each do |user| %>
            <tr>
              <td><%= user.first_name %> <%= user.last_name %></td>
              <td><div class="text-gray-800 mb-1"><%= user.email %></div></td>
              <td><%= user.sms %></td>
              <td><%= user.portfolios.map(&:name).join(', ') %></td>
              <td><%= user.buildings.map(&:name).join(', ') %></td>
              <td><%= user.confirmed? %></td>
              <td><%= user.admin? %></td>
              <td class="text-end">
                <div class="dropdown">
                  <div class="btn btn-sm btn-light dropdown-toggle">
                    Actions
                  </div>
                  <div class="dropdown-menu">
                    <div class="dropdown-item">
                      <%= link_to 'Edit', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#editModal#{user.id}" } %>
                    </div>
                    <% unless current_user == user %>
                      <div class="dropdown-item">
                        <%= link_to 'Delete', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#deleteModal#{user.id}" } %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
            <%= render 'edit', user: user, buildings: @buildings %>
            <%= render 'delete', user: user %>
          <% end %>
          </tbody>
        </table>
        <div class="d-flex justify-content-center mt-4">
          <%= paginate @users, theme: 'bootstrap4' %>
        </div>
        <%= render 'devise/invitations/new' %>
      </div>
    </div>
  </div>
</div>
