<div class="fw-bold fs-2hx mb-5"><%= @organization.name %></div>
<div class="row g-5 g-xl-8">
  <div class="col-xl-3">
    <div class="card bg-body  card-xl-stretch mb-xl-8">
      <div class="card-body">
        <div>
          <div>
            <i class="bi bi-folder fs-3hx me-4 text-danger"></i>
            <span class="fs-2hx fw-bold text-gray-800 me-2"><%= @violations.open.size %></span>
          </div>
          <span class="fs-6 text-muted">Total Open Violations</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="card bg-body  card-xl-stretch mb-xl-8">
      <div class="card-body">
        <div>
          <div>
            <i class="bi bi-hammer fs-3hx me-4 text-primary"></i>
            <span class="fs-2hx fw-bold text-gray-800 me-2"><%= @violations.in_progress.size %></span>
          </div>
          <span class="fs-6 text-muted">Total Violations Being Addressed</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="card bg-body  card-xl-stretch mb-xl-8">
      <div class="card-body">
        <div>
          <div>
            <i class="bi bi-check-circle fs-3hx me-4 text-success"></i>
            <span class="fs-2hx fw-bold text-gray-800 me-2"><%= @violations.closed.size %></span>
          </div>
          <span class="fs-6 text-muted">Total Violations Closed</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="card bg-body  card-xl-stretch mb-xl-8">
      <div class="card-body">
        <div>
          <div>
            <i class="bi bi-clipboard-check fs-3hx me-4 text-warning"></i>
            <span class="fs-2hx fw-bold text-gray-800 me-2"><%= @inspections.internal.open.size %></span>
          </div>
          <span class="fs-6 text-muted">Upcoming Inspections (Annual)</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row g-5 g-xl-8">
  <div class="col-xl-3">
    <div class="card bg-body  card-xl-stretch mb-xl-8">
      <div class="card-body">
        <div>
          <div>
            <i class="bi bi-folder fs-3hx me-4 text-danger"></i>
            <span class="fs-2hx fw-bold text-gray-800 me-2"><%= @complaints.open.size %></span>
          </div>
          <span class="fs-6 text-muted">Total Active Complaints</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="card bg-body  card-xl-stretch mb-xl-8">
      <div class="card-body">
        <div>
          <div>
            <i class="bi bi-hammer fs-3hx me-4 text-primary"></i>
            <span class="fs-2hx fw-bold text-gray-800 me-2"><%= @complaints.in_progress.size %></span>
          </div>
          <span class="fs-6 text-muted">Total Complaints Being Addressed</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="card bg-body  card-xl-stretch mb-xl-8">
      <div class="card-body">
        <div>
          <div>
            <i class="bi bi-check-circle fs-3hx me-4 text-success"></i>
            <span class="fs-2hx fw-bold text-gray-800 me-2"><%= @complaints.closed.size %></span>
          </div>
          <span class="fs-6 text-muted">Total Closed Complaints</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-3">
    <div class="card bg-body  card-xl-stretch mb-xl-8">
      <div class="card-body">
        <div>
          <div>
            <i class="bi bi-clipboard-check fs-3hx me-4 text-danger"></i>
            <span class="fs-2hx fw-bold text-gray-800 me-2"><%= @inspections.overdue.size %></span>
          </div>
          <span class="fs-6 text-muted">Overdue Inspections</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="kt_app_content" class="app-content flex-column-fluid">
  <div class="card">
    <div class="card-header border-0 pt-6">
      <div class="card-title"></div>
      <div class="card-toolbar">
        <% if can?(:create, Portfolio) %>
          <%= link_to 'Add Portfolio', '#', class: 'btn btn-success', data: { controller: 'modal', action: 'modal#open', bs_target: "#newModal" } %>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <table class="table align-middle table-row-dashed gy-3">
        <thead>
        <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
          <th class="w-25">Portfolio Name</th>
          <th class="w-25">Open Complaints</th>
          <th class="w-25">Open Violations</th>
          <th class="w-25">Number of Buildings</th>
        </tr>
        </thead>
        <tbody>
        <% @portfolios.each do |portfolio| %>
          <tr>
            <td><%= portfolio.name %></td>
            <td><%= portfolio.complaints.accessible_by(current_ability).open.size %></td>
            <td><%= portfolio.violations.accessible_by(current_ability).open.size %></td>
            <td><%= link_to portfolio.buildings.accessible_by(current_ability).size, portfolio_buildings_path(portfolio), class: 'badge bg-primary text-white rounded-0' %></td>
            <td class="text-end">
              <div class="dropdown">
                <div class="btn btn-sm btn-light dropdown-toggle">
                  Actions
                </div>
                <div class="dropdown-menu">
                  <% if can?(:edit, portfolio) %>
                    <div class="dropdown-item">
                      <%= link_to 'Edit', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#editModal#{portfolio.id}" } %>
                    </div>
                  <% end %>
                  <% if can?(:destroy, portfolio) && portfolio.buildings.blank? %>
                    <div class="dropdown-item">
                      <%= link_to 'Delete', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#deleteModal#{portfolio.id}" } %>
                    </div>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
          <%= render 'portfolios/edit', portfolio: portfolio %>
          <%= render 'portfolios/delete', portfolio: portfolio %>
        <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @portfolios, theme: 'bootstrap4' %>
      </div>
      <%= render 'portfolios/new' %>
    </div>
  </div>
</div>
