<div class="fw-bold fs-2hx mb-5"><%= current_user.organization.name %></div>
<!--begin::Row-->
<div class="row g-5 g-xl-8">
  <div class="col-xl-4">
    <div class="card bg-body hoverable card-xl-stretch mb-xl-8">
      <div class="card-body">
        <div>
          <div class="d-flex align-items-center me-2">
            <i class="bi bi-folder fs-3hx me-4 text-danger"></i>
            <span class="fs-2hx fw-bold text-gray-800 me-2 ls-n2"><%= current_user.organization.violations.open.size %></span>
          </div>
          <span class="fs-6 text-gray-400">Active Violations</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card bg-body hoverable card-xl-stretch mb-xl-8">
      <div class="card-body">
        <div>
          <div class="d-flex align-items-center mb-2">
            <i class="bi bi-hammer fs-3hx me-4 text-primary"></i>
            <span class="fs-2hx fw-bold text-gray-800 me-2 ls-n2"><%= current_user.organization.violations.in_progress.size %></span>
          </div>
          <span class="fs-6 text-gray-400">Violations Being Addressed</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card bg-body hoverable card-xl-stretch mb-xl-8">
      <div class="card-body">
        <div>
          <div class="d-flex align-items-center mb-2">
            <i class="bi bi-check-circle fs-3hx me-4 text-success"></i>
            <span class="fs-2hx fw-bold text-gray-800 me-2 ls-n2"><%= current_user.organization.violations.closed.size %></span>
          </div>
          <span class="fs-6 text-gray-400">Violations Closed</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end::Row-->
<!--begin::Row-->
<div class="row g-5 g-xl-8">
  <div class="col-xl-4">
    <div class="card bg-body hoverable card-xl-stretch mb-xl-8">
      <div class="card-body">
        <div>
          <div class="d-flex align-items-center me-2">
            <i class="bi bi-folder fs-3hx me-4 text-danger"></i>
            <span class="fs-2hx fw-bold text-gray-800 me-2 ls-n2"><%= current_user.organization.complaints.open.size %></span>
          </div>
          <span class="fs-6 text-gray-400">Active Complaints</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card bg-body hoverable card-xl-stretch mb-xl-8">
      <div class="card-body">
        <div>
          <div class="d-flex align-items-center mb-2">
            <i class="bi bi-hammer fs-3hx me-4 text-primary"></i>
            <span class="fs-2hx fw-bold text-gray-800 me-2 ls-n2"><%= current_user.organization.complaints.in_progress.size %></span>
          </div>
          <span class="fs-6 text-gray-400">Complaints Being Addressed</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-4">
    <div class="card bg-body hoverable card-xl-stretch mb-xl-8">
      <div class="card-body">
        <div>
          <div class="d-flex align-items-center mb-2">
            <i class="bi bi-check-circle fs-3hx me-4 text-success"></i>
            <span class="fs-2hx fw-bold text-gray-800 me-2 ls-n2"><%= current_user.organization.complaints.closed.size %></span>
          </div>
          <span class="fs-6 text-gray-400">Closed Complaints</span>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end::Row-->

<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid">
  <div class="card">
    <div class="card-header border-0 pt-6">
      <div class="card-title"></div>
      <div class="card-toolbar">
        <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
          <%= link_to 'Add Portfolio', '#', class: 'btn btn-primary', data: { controller: 'modal', action: 'modal#open', bs_target: "#newModal" } %>
        </div>
      </div>
    </div>
    <div class="card-body pt-0">
      <table class="table align-middle table-row-dashed fs-6 gy-5" id="kt_customers_table">
        <thead>
        <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
          <th class="min-w-200px">Portfolio Name</th>
          <th class="min-w-100px">Active Complaints</th>
          <th class="min-w-100px">Closed this Month</th>
          <th class="min-w-100px">Number of Buildings</th>
        </tr>
        </thead>
        <tbody>
        <% @portfolios.each do |portfolio| %>
          <tr>
            <td><%= portfolio.name %></td>
            <td><%= link_to portfolio.complaints.open.size, portfolio_complaints_path(portfolio, state: 'open'), class: 'text-hover-primary mb-1 fw-bold' %></td>
            <td><%= link_to portfolio.complaints.closed.size, portfolio_complaints_path(portfolio, state: 'closed'), class: 'text-hover-primary mb-1 fw-bold' %></td>
            <td><%= link_to portfolio.buildings.size, portfolio_buildings_path(portfolio), class: 'fw-bold' %></td>
            <td class="text-end">
              <a href="#" class="btn btn-sm btn-light btn-flex btn-center btn-active-light-primary" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">Actions
                <i class="bi bi-caret-down-fill fs-5 ms-1"></i></a>
              <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 fs-7 w-125px py-4 menu-hover-primary" data-kt-menu="true">
                <div class="menu-item px-3">
                  <%= link_to 'Edit', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#editModal#{portfolio.id}" } %>
                </div>
                <% if portfolio.buildings.blank? %>
                  <div class="menu-item px-3">
                    <%= link_to 'Delete', '#', class: 'menu-link px-3', data: { bs_toggle: 'modal', bs_target: "#deleteModal#{portfolio.id}" } %>
                  </div>
                <% end %>
              </div>
            </td>
          </tr>
          <%= render 'portfolios/edit', portfolio: portfolio %>
          <%= render 'portfolios/delete', portfolio: portfolio %>
        <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @portfolios, theme: 'bootstrap4' %>
      </div>
      <%= render 'portfolios/new' %>
    </div>
  </div>
</div>
