<!--begin::Card body-->
<div class="card-body">
  <div class="row">
      <!--begin::Input group 2-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-3">Resolved Date</label>
        <div class="col-lg-9">
          <%= f.date_field :resolved_date, class: 'form-control form-control-lg form-control-solid', placeholder: '' %>
        </div>
      </div>
      <!--end::Input group 2-->

    <!--begin::Input group 2-->
    <div class="row mb-12 align-items-center">
      <label class="col-lg-3">File</label>
      <div class="col-lg-9">
        <%= f.file_field :attachments, multiple: true, class: 'form-control form-control-lg' %>
      </div>
    </div>
    <!--end::Input group 2-->

    <!--begin::Input group 3-->
    <div class="row align-items-center">
      <label class="col-lg-3">Comment</label>
      <div class="col-lg-9">
        <%= f.text_area :audit_comment, class: 'form-control form-control-lg', rows: 3 %>
      </div>
    </div>
    <!--end::Input group 3-->
  </div>

  <%= f.hidden_field :building_id, value: @building&.id %>
</div>
<!--end::Card body-->

<!--begin::Actions-->
<div class="card-footer d-flex justify-content-end py-6 px-9">
  <%= link_to 'Cancel', '#', data: { controller: 'modal', action: 'modal#close' }, class: 'btn btn-light btn-active-light-light me-2' %>
  <%= f.submit 'Save', class: "btn btn-success" %>
</div>
<!--end::Actions-->
