<!--begin::Card body-->
<div class="card-body p-9">
  <div class="row">
    <!--begin::First Column - Non-date fields-->
    <div class="col-lg-6">
      <!--begin::Input group 1-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-4 required">Violation ID</label>
        <div class="col-lg-8">
          <%= f.text_field :violation_id, required: true, class: 'form-control form-control-lg form-control-solid', placeholder: 'ABC123' %>
        </div>
      </div>
      <!--end::Input group 1-->
      <!--begin::Input group 4-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-4 required">Description</label>
        <div class="col-lg-8">
          <%= f.text_area :description, rows: 12, class: 'form-control form-control-lg form-control-solid', placeholder: '' %>
        </div>
      </div>
      <!--end::Input group 4-->
    </div>
    <!--end::First Column-->

    <!--begin::Second Column - Date fields and State-->
    <div class="col-lg-6">
      <!--begin::Input group 2-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-4">Status</label>
        <div class="col-lg-8">
          <%= f.collection_select :state, ViolationDecorator.states_select, :last, :first, { selected: f.try(:object).try(:object).try(:state) }, class: 'form-select form-select-lg form-select-solid' %>
        </div>
      </div>
      <!--end::Input group 2-->

      <!--begin::Input group 2-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-4">Type</label>
        <div class="col-lg-8">
          <%= f.text_field :violation_type, class: 'form-control form-control-lg form-control-solid', placeholder: '' %>
        </div>
      </div>
      <!--end::Input group 2-->

      <!--begin::Input group 2-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-4">Issue Date</label>
        <div class="col-lg-8">
          <%= f.date_field :issue_date, class: 'form-control form-control-lg form-control-solid', placeholder: '' %>
        </div>
      </div>
      <!--end::Input group 2-->

      <!--begin::Input group 4 - State Field-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-4">Severity</label>
        <div class="col-lg-8">
          <%= f.collection_select :severity, ViolationDecorator.severity_select, :last, :first, { selected: f.try(:object).try(:object).try(:severity) }, class: 'form-select form-select-lg form-select-solid' %>
        </div>
      </div>
      <!--end::Input group 4-->

      <!--begin::Input group 2-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-4">Device Number</label>
        <div class="col-lg-8">
          <%= f.text_field :device_number, class: 'form-control form-control-lg form-control-solid', placeholder: '' %>
        </div>
      </div>
      <!--end::Input group 2-->

      <!--begin::Input group 2-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-4">Device Type</label>
        <div class="col-lg-8">
          <%= f.text_field :device_type, class: 'form-control form-control-lg form-control-solid', placeholder: '' %>
        </div>
      </div>
      <!--end::Input group 2-->
    </div>
    <!--end::Second Column-->
  </div>

  <%= f.hidden_field :building_id, value: @building&.id %>
</div>
<!--end::Card body-->

<!--begin::Actions-->
<div class="card-footer d-flex justify-content-end py-6 px-9">
  <%= link_to 'Cancel', '#', data: { controller: 'modal', action: 'modal#close' }, class: 'btn btn-light btn-active-light-light me-2' %>
  <%= f.submit 'Save', class: "btn btn-success" %>
</div>
<!--end::Actions-->
