<!--begin::Card body-->
<div class="card-body p-9">
  <div class="row">
    <!--begin::First Column - Non-date fields-->
    <div class="col-lg-6">
      <!--begin::Input group 1-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label required fs-6">Violation ID</label>
        <div class="col-lg-8">
          <%= f.text_field :number, required: true, class: 'form-control form-control-lg form-control-solid', placeholder: 'ABC123' %>
        </div>
      </div>
      <!--end::Input group 1-->

      <!--begin::Input group 2-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label required fs-6">Type Code</label>
        <div class="col-lg-8">
          <%= f.text_field :type_code, required: true, class: 'form-control form-control-lg form-control-solid', placeholder: 'Description' %>
        </div>
      </div>
      <!--end::Input group 2-->

      <!--begin::Input group 3-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fs-6">Category</label>
        <div class="col-lg-8">
          <%= f.text_field :category, class: 'form-control form-control-lg form-control-solid', placeholder: 'Last Inspection Result' %>
        </div>
      </div>
      <!--end::Input group 3-->

      <!--begin::Input group 4-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fs-6">Description</label>
        <div class="col-lg-8">
          <%= f.text_area :description, class: 'form-control form-control-lg form-control-solid', placeholder: 'Last Inspection Result' %>
        </div>
      </div>
      <!--end::Input group 4-->
    </div>
    <!--end::First Column-->

    <!--begin::Second Column - Date fields and State-->
    <div class="col-lg-6">
      <!--begin::Input group 1-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fs-6">Comments</label>
        <div class="col-lg-8">
          <%= f.text_area :comments, class: 'form-control form-control-lg form-control-solid', placeholder: 'Last Inspection Result' %>
        </div>
      </div>
      <!--end::Input group 1-->

      <!--begin::Input group 2-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fs-6">Issue Date</label>
        <div class="col-lg-8">
          <%= f.date_field :issue_date, class: 'form-control form-control-lg form-control-solid', placeholder: 'Last Inspection Date' %>
        </div>
      </div>
      <!--end::Input group 2-->

      <!--begin::Input group 3-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fs-6">Disposition Date</label>
        <div class="col-lg-8">
          <%= f.date_field :disposition_date, class: 'form-control form-control-lg form-control-solid', placeholder: 'Disposition Date' %>
        </div>
      </div>
      <!--end::Input group 3-->

      <!--begin::Input group 4 - State Field-->
      <div class="row mb-6">
        <label class="col-lg-4 col-form-label fs-6">State</label>
        <div class="col-lg-8">
          <%= f.collection_select :state, ViolationDecorator.states_select, :last, :first, { selected: f.try(:object).try(:object).try(:state) }, class: 'form-select form-select-lg form-select-solid' %>
        </div>
      </div>
      <!--end::Input group 4-->
    </div>
    <!--end::Second Column-->
  </div>

  <%= f.hidden_field :building_id, value: @building&.id %>
</div>
<!--end::Card body-->

<!--begin::Actions-->
<div class="card-footer d-flex justify-content-end py-6 px-9">
  <%= link_to 'Cancel', '#', data: { controller: 'modal', action: 'modal#close' }, class: 'btn btn-light btn-active-light-light me-2' %>
  <button type="submit" class="btn btn-success" id="kt_account_profile_details_submit">Save</button>
</div>
<!--end::Actions-->
