<div>
  <div class="py-lg-8">
    <h2><%= @building&.name %> Violations List (<%= @violations.try(:total_count) %>)</h2>
  </div>
  <div class="card">
    <div class="d-flex border-0 p-6">
      <div class="me-auto">
        <%= form_with url: building_violations_path(@building), method: :get, local: true do %>
          <div class="d-flex">
            <div class="col-lg-7 me-2">
              <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control me-2" %>
            </div>
            <div class="col-lg-4 me-2">
              <%= select_tag :state, options_for_select(Violations::ViolationDecorator.states_select, params[:state]), class: "form-select me-2" %>
            </div>
            <div class="col-lg-2">
              <%= submit_tag "Filter", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="card-body">
      <table class="table align-middle table-row-dashed gy-3">
        <thead>
        <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
          <th>Violation ID</th>
          <th>Issue Date</th>
          <th>Description</th>
          <th>Status</th>
          <th>Severity</th>
          <th>Resolved Date</th>
          <th>Attachments</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <% @violations.each do |violation| %>
            <tr>
              <td><%= violation&.violation_id %></td>
              <td><%= violation&.issue_date&.strftime("%D") %></td>
              <td><%= violation&.description&.[](0..120) %></td>
              <td><%= violation&.state %></td>
              <td><%= violation&.severity %></td>
              <td><%= violation&.resolved_date&.strftime("%D") %></td>
              <td><% violation&.attachments.each do |attachment| %>
                  <a href="<%= url_for(attachment) %>" download title="<%= attachment.filename.to_s %>">
                    <i class="<%= file_icon_class(attachment) %>"></i>
                  </a>
                <% end %></td>
              <td>
                <div class="dropdown">
                  <div class="btn btn-sm btn-light dropdown-toggle">
                    Actions
                  </div>
                  <div class="dropdown-menu">
                    <% if can?(:read, violation.object) %>
                      <div class="dropdown-item">
                        <%= link_to 'View Details', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#violationModal#{violation.id}" } %>
                      </div>
                    <% end %>
                    <% if can?(:edit, violation.object) %>
                      <div class="dropdown-item">
                        <%= link_to 'Edit', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#editModal#{violation.id}" } %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
            <%= render 'edit', violation: violation %>
          <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @violations, theme: 'bootstrap4' %>
      </div>
    </div>
  </div>

  <% @violations.each do |violation| %>
    <div class="modal fade" id="violationModal<%= violation.id %>" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="fw-bold">Violation Details</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body py-10 px-lg-17">
            <div class="row">
              <div class="col-md-6">
                <p><strong>Violation ID:</strong> <%= violation.violation_id %></p>
                <p><strong>Device Number:</strong> <%= violation.device_number %></p>
                <p><strong>Device Type:</strong> <%= violation.device_type %></p>
                <p><strong>Description:</strong> <%= simple_format(violation.description) %></p>
                <p><strong>Status:</strong> <%= violation.state %></p>
                <p><strong>Issue Date:</strong> <%= violation.issue_date&.strftime("%D") %></p>
                <p><strong>Severity:</strong> <%= violation.severity %></p>
                <p><strong>Updated On:</strong> <%= violation.updated_at&.strftime("%D") %></p>
              </div>
              <div class="col-md-6">
                <h5>Attachments</h5>
                <ul class="list-group">
                  <% violation.attachments.each do |attachment| %>
                    <li>
                      <%= link_to attachment.filename.to_s, rails_blob_path(attachment, disposition: 'attachment'), target: '_blank' %>
                      <% if can?(:destroy, attachment) %>
                        <%= link_to '#', data: { controller: 'modal', action: 'modal#open', bs_target: "#deleteModal#{attachment.id}" } do %>
                          <i class="bi bi-trash"></i>
                        <% end %>
                      <% end %>
                    </li>
                    <%= render 'attachments/delete', attachment: attachment %>
                  <% end %>
                </ul>
              </div>
            </div>
            <% if violation.audits.any? { |audit| audit.comment.present? } %>
              <div class="row">
                <hr>
                <div class="col-lg-12">
                  <h5>Comments</h5>
                  <% violation.audits.each do |audit| %>
                    <div>
                      <% if audit.comment.present? %>
                        <i><%= "#{audit.user.first_name}:" %></i> <%= audit.comment %>
                        <span class="text-muted">(<%= time_ago_in_words(audit.created_at) %> ago)</span>
                      <% end %>
                    </div>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
