<div>
  <div class="py-lg-8">
    <h2><%= @building&.name %> Violations List (<%= @violations.try(:total_count) %>)</h2>
  </div>
  <div class="card">
    <div class="d-flex border-0 p-6">
      <div class="me-auto">
        <%= form_with url: building_violations_path(@building), method: :get, local: true do %>
          <div class="d-flex">
            <div class="col-lg-6 me-2">
              <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control me-2" %>
            </div>
            <div class="col-lg-4 me-2">
              <%= select_tag :state, options_for_select(ViolationDecorator.states_select, params[:state]), class: "form-select me-2" %>
            </div>
            <div class="col-lg-2">
              <%= submit_tag "Filter", class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
      </div>

      <%= link_to 'Add Violation', '#', class: 'btn btn-success', data: { controller: 'modal', action: 'modal#open', bs_target: "#newModal" } %>
    </div>
    <div class="card-body">
      <table class="table align-middle table-row-dashed gy-3">
        <thead>
        <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
          <th class="min-w-125px">Violation ID</th>
          <th class="min-w-100px">Issue Date</th>
          <th class="min-w-200px">Description</th>
          <th class="min-w-100px">Status</th>
          <th class="min-w-125px">Severity</th>
          <th class="min-w-100px">Updated On</th>
          <th class="text-end min-w-100px">Actions</th>
        </tr>
        </thead>
        <tbody>
        <% @violations.each do |violation| %>
          <tr>
            <td>
              <a href="#" data-bs-toggle="modal" data-bs-target="#violationModal<%= violation.id %>">
                <div class="mb-1"><%= violation&.violation_id %></div>
              </a>
            </td>
            <td><%= violation&.issue_date&.strftime("%D") %></td>
            <td><%= violation&.description&.[](0..120) %></td>
            <td><%= violation&.state %></td>
            <td><%= violation&.severity %></td>
            <td><%= violation.updated_at.strftime("%D") %></td>
            <td>
              <div class="dropdown">
                <div class="btn btn-sm btn-light dropdown-toggle">
                  Actions
                </div>
                <div class="dropdown-menu">
                  <div class="dropdown-item">
                    <%= link_to 'Edit', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#editModal#{violation.id}" } %>
                  </div>
                  <div class="dropdown-item">
                    <%= link_to 'Delete', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#deleteModal#{violation.id}" } %>
                  </div>
                </div>
              </div>
            </td>
          </tr>
          <%= render 'edit', violation: violation %>
          <%= render 'delete', violation: violation %>
        <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @violations, theme: 'bootstrap4' %>
      </div>
      <%= render 'new' %>
    </div>
  </div>

  <% @violations.each do |violation| %>
    <div class="modal fade" id="violationModal<%= violation.id %>" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered mw-650px">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="fw-bold">Violation Details</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body py-10 px-lg-17">
            <div>
              <p><strong>Violation ID:</strong> <%= violation.violation_id %></p>
              <p><strong>Description:</strong> <%= simple_format(violation.description) %></p>
              <p><strong>Status:</strong> <%= violation.state %></p>
              <p><strong>Type:</strong> <%= violation.violation_type %></p>
              <p><strong>Issue Date:</strong> <%= violation.issue_date&.strftime("%D") %></p>
              <p><strong>Severity:</strong> <%= violation.severity %></p>
              <p><strong>Device Number:</strong> <%= violation.device_number %></p>
              <p><strong>Device Type:</strong> <%= violation.device_type %></p>
              <p><strong>Updated On:</strong> <%= violation.updated_at&.strftime("%D") %></p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
