<div>
  <div class="py-lg-8">
    <h2><%= @building&.name %> Violations (<%= @violations.try(:total_count) %>)</h2>
  </div>

  <!-- Filter Form -->
  <div class="card">
    <div class="d-flex border-0 p-6">
      <div class="me-auto">
        <%= form_with method: :get, local: true do %>
          <div class="d-flex flex-wrap gap-2">
            <div class="search-container">
              <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>
            </div>
            <div class="filter-container">
              <%= select_tag :state, options_for_select(Violations::ViolationDecorator.states_select, params[:state]), class: "form-select" %>
            </div>
            <div class="button-container">
              <%= submit_tag "Filter", class: "btn btn-primary w-100" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>


    <!-- Violations Table -->
    <div class="card-body">
      <div>
        <table class="table align-middle table-row-dashed gy-3">
          <thead>
          <tr class="text-muted fw-bold text-uppercase">
            <th>Violation ID</th>
            <th>Issue Date</th>
            <th>Description</th>
            <th class="d-none d-md-table-cell">Resolved Date</th> <!-- Hidden on mobile -->
            <th class="d-none d-md-table-cell">Attachments</th>
            <th class="d-none d-md-table-cell">Severity</th> <!-- Hidden on mobile -->
            <th>Status</th>
            <th></th> <!-- Hidden on mobile -->
          </tr>
          </thead>
          <tbody>
          <% @violations.each do |violation| %>
            <tr>
              <td><%= violation.violation_id %></td>
              <td><%= violation.issue_date&.strftime("%D") %></td>
              <td><%= violation.description&.truncate(100) %></td>
              <td class="d-none d-md-table-cell"><%= violation.resolved_date&.strftime("%D") %></td>
              <td class="d-none d-md-table-cell">
                <% violation.attachments.each do |attachment| %>
                  <a href="<%= url_for(attachment) %>" download title="<%= attachment.filename.to_s %>">
                    <i class="<%= file_icon_class(attachment) %>"></i>
                  </a>
                <% end %>
              </td>
              <td class="d-none d-md-table-cell"><%= violation.severity %></td>
              <td><%= violation.state %></td>
              <td class="text-end d-none d-md-table-cell">
                <div class="dropdown">
                  <button class="btn btn-sm btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    Actions
                  </button>
                  <div class="dropdown-menu">
                    <% if can?(:read, violation.object) %>
                      <%= link_to 'View Details', '#', class: 'dropdown-item', data: { controller: 'modal', action: 'modal#open', bs_target: "#violationModal-#{violation.id}" } %>
                    <% end %>
                    <% if can?(:edit, violation.object) %>
                      <%= link_to 'Edit', '#', class: 'dropdown-item', data: { controller: 'modal', action: 'modal#open', bs_target: "#editViolationModal-#{violation.id}" } %>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
            <%= render 'edit', violation: violation %>
          <% end %>
          </tbody>
        </table>
      </div>

      <div class="d-flex justify-content-center mt-4">
        <%= paginate @violations, theme: 'bootstrap4' %>
      </div>
    </div>
  </div>
  <!-- Violation Modals -->
  <% @violations.each do |violation| %>
    <div class="modal fade" id="violationModal-<%= violation.id %>" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="fw-bold">Violation Details</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-6">
                <p><strong>Violation ID:</strong> <%= violation.violation_id %></p>
                <p><strong>Device Number:</strong> <%= violation.device_number %></p>
                <p><strong>Device Type:</strong> <%= violation.device_type %></p>
                <p><strong>Description:</strong> <%= simple_format(violation.description) %></p>
                <p><strong>Status:</strong> <%= violation.state %></p>
                <p><strong>Issue Date:</strong> <%= violation.issue_date&.strftime("%D") %></p>
                <p><strong>Severity:</strong> <%= violation.severity %></p>
                <p><strong>Updated On:</strong> <%= violation.updated_at&.strftime("%D") %></p>
              </div>
              <div class="col-md-6">
                <h5>Attachments</h5>
                <ul class="list-group">
                  <% violation.attachments.each do |attachment| %>
                    <li class="list-group-item">
                      <%= link_to attachment.filename.to_s, rails_blob_path(attachment, disposition: 'attachment'), target: '_blank' %>
                      <% if can?(:destroy, attachment) %>
                        <%= link_to '#', data: { controller: 'modal', action: 'modal#open', bs_target: "#deleteAttachmentModal-#{attachment.id}" } do %>
                          <i class="bi bi-trash text-danger"></i>
                        <% end %>
                      <% end %>
                    </li>
                    <%= render 'attachments/delete', attachment: attachment %>
                  <% end %>
                </ul>
              </div>
            </div>

            <% if violation.audits.any? { |audit| audit.comment.present? } %>
              <div class="row mt-4">
                <hr>
                <div class="col-lg-12">
                  <h5>Comments</h5>
                  <% violation.audits.each do |audit| %>
                    <% if audit.comment.present? %>
                      <div>
                        <i><%= "#{audit.user.first_name}:" %></i> <%= audit.comment %>
                        <span class="text-muted">(<%= time_ago_in_words(audit.created_at) %> ago)</span>
                      </div>
                    <% end %>
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
