<!--begin::Card body-->
<div class="card-body">
  <!--begin::Input group-->
  <div class="row mb-6 align-items-center">
    <label class="col-lg-4 required">First Name</label>
    <div class="col-lg-8">
      <%= f.text_field :first_name, required: true, class: 'form-control', placeholder: 'First Name' %>
    </div>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="row mb-6 align-items-center">
    <label class="col-lg-4 required">Last Name</label>
    <div class="col-lg-8">
      <%= f.text_field :last_name, required: true, class: 'form-control', placeholder: 'Last Name' %>
    </div>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="row mb-6 align-items-center">
    <label class="col-lg-4">Title</label>
    <div class="col-lg-8">
      <%= f.text_field :title, class: 'form-control' %>
    </div>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="row mb-6 align-items-center">
    <label class="col-lg-4">SMS</label>
    <div class="col-lg-8">
      <%= f.text_field :sms, class: 'form-control', placeholder: 'SMS' %>
      <div class="form-text"><%= t(:opt_in_message) %></div>
    </div>
  </div>
  <!--end::Input group-->
</div>
<!--end::Card body-->

<!--begin::Actions-->
<div class="card-footer d-flex justify-content-end py-6 px-9">
  <%= link_to 'Cancel', '#', data: { controller: 'modal', action: 'modal#close' }, class: 'btn btn-light btn-active-light-light me-2' %>
  <%= f.submit 'Save', class: 'btn btn-success', id: 'kt_account_profile_details_submit' %>
</div>
<!--end::Actions-->
