<div class="modal fade modal-xl" id="editModal<%= building.id %>" tabindex="-1" aria-hidden="true" data-controller="modal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Edit Building</h5>
        <button type="button" class="btn-close" data-action="modal#close" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class='alert alert-danger alert-dismissible'><%= I18n.t(:building_input_message)  %></div>
        <div id="error-<%= building.id %>">
        </div>

        <%= form_for(building, remote: true) do |f| %>
          <%= render partial: 'form', locals: { f: f, building: building } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
