<!--begin::Card body-->
<div class="card-body">
  <!--begin::Input group-->
  <div class="row mb-6 align-items-center">
    <label class="col-lg-4 required">Name</label>
    <div class="col-lg-8">
      <%= f.text_field :name, required: true, class: 'form-control form-control-lg form-control-solid', placeholder: 'The Lombardi' %>
    </div>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="row mb-6 align-items-center">
    <label class="col-lg-4 required">Building Number</label>
    <div class="col-lg-8">
      <%= f.text_field :number, required: true, class: 'form-control form-control-lg form-control-solid', placeholder: '1500' %>
    </div>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="row mb-6 align-items-center">
    <label class="col-lg-4 required">Street Name</label>
    <div class="col-lg-8">
      <%= f.text_field :street, required: true, class: 'form-control form-control-lg form-control-solid', placeholder: 'Pelham Parkway' %>
    </div>
  </div>
  <!--end::Input group-->

  <!--begin::Input group-->
  <div class="row mb-6 align-items-center">
    <label class="col-lg-4 required">Zip Code</label>
    <div class="col-lg-8">
      <%= f.text_field :zip5, required: true, class: 'form-control form-control-lg form-control-solid', placeholder: '10801' %>
    </div>
  </div>
  <!--end::Input group-->

  <%= f.hidden_field :portfolio_id, value: @portfolio&.id %>
</div>
<!--end::Card body-->
<!--begin::Actions-->
<div class="card-footer d-flex justify-content-end py-6 px-9">
  <%= link_to 'Cancel', '#', data: { controller: 'modal', action: 'modal#close' }, class: 'btn btn-light btn-active-light-light me-2' %>
  <%= f.submit 'Save', class: "btn btn-success" %>
</div>
<!--end::Actions-->