<!--begin::Card body-->
<div class="card-body">
  <!--begin::Input group row-->
  <div class="row">
    <!-- First Column -->
    <div class="col-lg-4">
      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-4 required">Name</label>
        <div class="col-lg-8">
          <%= f.text_field :name, required: true, class: 'form-control form-control-lg form-control-solid', placeholder: 'Montefiore Residents' %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-4 required">Number</label>
        <div class="col-lg-8">
          <%= f.text_field :number, required: true, class: 'form-control form-control-lg form-control-solid', placeholder: '3450' %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-4 required">Street Name</label>
        <div class="col-lg-8">
          <%= f.text_field :street, required: true, class: 'form-control form-control-lg form-control-solid', placeholder: 'Wayne Ave' %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-4 required">Zip Code</label>
        <div class="col-lg-8">
          <%= f.text_field :zip5, required: true, class: 'form-control form-control-lg form-control-solid', placeholder: '10467' %>
        </div>
      </div>
      <!--end::Input group-->
    </div>
    <!-- End First Column -->

    <!-- Second Column -->
    <div class="col-lg-4">
      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-6 required">Square Feet</label>
        <div class="col-lg-6">
          <%= f.number_field :numerical_properties, value: building.numerical_properties['square_feet'], required: true, name: 'building[numerical_properties][square_feet]', class: 'form-control form-control-lg form-control-solid', placeholder: '15,000' %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-6 required">Total Square Feet of All Buildings on Tax Lot</label>
        <div class="col-lg-6">
          <%= f.number_field :numerical_properties, value: building.numerical_properties['tax_lot_square_feet'], required: true, name: 'building[numerical_properties][tax_lot_square_feet]', class: 'form-control form-control-lg form-control-solid', placeholder: '75,000' %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-6 required">Number of Stories</label>
        <div class="col-lg-6">
          <%= f.number_field :numerical_properties, value: building.numerical_properties['number_of_stories'], required: true, name: 'building[numerical_properties][number_of_stories]', class: 'form-control form-control-lg form-control-solid', placeholder: '21' %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-6 required">Number of Residential Units</label>
        <div class="col-lg-6">
          <%= f.number_field :numerical_properties, value: building.numerical_properties['number_of_residential_units'], required: true, name: 'building[numerical_properties][number_of_residential_units]', class: 'form-control form-control-lg form-control-solid', placeholder: '130' %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-6 required">Boiler BTUs</label>
        <div class="col-lg-6">
          <%= f.number_field :numerical_properties, value: building.numerical_properties['boiler_btus'], required: true, name: 'building[numerical_properties][boiler_btus]', class: 'form-control form-control-lg form-control-solid', placeholder: '350,000' %>
        </div>
      </div>
      <!--end::Input group-->
    </div>
    <!-- End Second Column -->

    <!-- Third Column -->
    <div class="col-lg-2">
      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-8">Has Elevator(s)?</label>
        <div class="col-lg-4">
          <%= f.check_box :has_properties, { checked: building.has_properties['elevator'] == true, name: 'building[has_properties][elevator]', class: 'form-check-input' } %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-8">Has Sprinkler System?</label>
        <div class="col-lg-4">
          <%= f.check_box :has_properties, { checked: building.has_properties['sprinkler_system'] == true, name: 'building[has_properties][sprinkler_system]', class: 'form-check-input' } %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-8">Has Standpipes?</label>
        <div class="col-lg-4">
          <%= f.check_box :has_properties, { checked: building.has_properties['standpipe'] == true, name: 'building[has_properties][standpipe]', class: 'form-check-input' } %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-8">Has Gas Piping?</label>
        <div class="col-lg-4">
          <%= f.check_box :has_properties, { checked: building.has_properties['gas_piping'] == true, name: 'building[has_properties][gas_piping]', class: 'form-check-input' } %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-8">Has Backflow Device?</label>
        <div class="col-lg-4">
          <%= f.check_box :has_properties, { checked: building.has_properties['backflow'] == true, name: 'building[has_properties][backflow]', class: 'form-check-input' } %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-8">Has Cooling Tower?</label>
        <div class="col-lg-4">
          <%= f.check_box :has_properties, { checked: building.has_properties['cooling_tower'] == true, name: 'building[has_properties][cooling_tower]', class: 'form-check-input' } %>
        </div>
      </div>
      <!--end::Input group-->
    </div>

    <!-- Fourth Column -->
    <div class="col-lg-2">
      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-8">Has Residential Units with Children Under Age of 10?</label>
        <div class="col-lg-4">
          <%= f.check_box :has_properties, { checked: building.has_properties['units_with_children_age'] == true, name: 'building[has_properties][units_with_children_age]', class: 'form-check-input' } %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-8">Has a Gas Line?</label>
        <div class="col-lg-4">
          <%= f.check_box :has_properties, { checked: building.has_properties['gas_line'] == true, name: 'building[has_properties][gas_line]', class: 'form-check-input' } %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-8">Has a Low-Pressure Boiler?</label>
        <div class="col-lg-4">
          <%= f.check_box :has_properties, { checked: building.has_properties['low_pressure_boiler'] == true, name: 'building[has_properties][low_pressure_boiler]', class: 'form-check-input' } %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-8">Has a High-Pressure Boiler?</label>
        <div class="col-lg-4">
          <%= f.check_box :has_properties, { checked: building.has_properties['high_pressure_boiler'] == true, name: 'building[has_properties][high_pressure_boiler]', class: 'form-check-input' } %>
        </div>
      </div>
      <!--end::Input group-->

      <!--begin::Input group-->
      <div class="row mb-6 align-items-center">
        <label class="col-lg-8">Has a Parking Structure?</label>
        <div class="col-lg-4">
          <%= f.check_box :has_properties, { checked: building.has_properties['parking_structure'] == true, name: 'building[has_properties][parking_structure]', class: 'form-check-input' } %>
        </div>
      </div>
      <!--end::Input group-->
    </div>
    <!-- End Fourth Column -->
  </div>
  <!--end::Input group row-->

  <%= f.hidden_field :portfolio_id, value: @portfolio&.id %>
</div>
<!--end::Card body-->

<!--begin::Actions-->
<div class="card-footer d-flex justify-content-end py-6 px-9">
  <%= link_to 'Cancel', '#', data: { controller: 'modal', action: 'modal#close' }, class: 'btn btn-light btn-active-light-light me-2' %>
  <%= f.submit 'Save', class: "btn btn-success" %>
</div>
<!--end::Actions-->
