<div>
  <div>
    <div class="py-lg-8">
      <h2>Building List</h2>
    </div>

    <div class="card">
      <div class="card-header border-0 pt-6">
        <div class="card-toolbar">
          <%= link_to 'Add Building', '#', class: 'btn btn-success', data: { controller: 'modal', action: 'modal#open', bs_target: "#newModal" } %>
        </div>
      </div>
      <div class="card-body">
        <table class="table align-middle table-row-dashed gy-3">
          <thead>
          <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
            <th class="min-w-125px">Building Name</th>
            <th class="min-w-125px">Portfolio</th>
            <th class="min-w-125px">Address</th>
            <th class="min-w-125px">Open Complaints</th>
            <th class="min-w-125px">Open Violations</th>
            <th class="min-w-125px">Contacts</th>
          </tr>
          </thead>
          <tbody class="text-gray-600">
          <% @buildings.each do |building| %>
            <tr>
              <td><div class="text-gray-800 mb-1"><%= building.name %></div></td>
              <td><%= building.portfolio.name %></td>
              <td><div class="text-gray-600 mb-1"><%= building.address1.titleize %>, <%= building.city.titleize %>, <%= building.state %></div></td>
              <td><%= building.open_complaints_link %></td>
              <td><%= building.open_violations_link %></td>
              <td></td>
              <td class="text-end">
                <div class="dropdown">
                  <div class="btn btn-sm btn-light dropdown-toggle">
                    Actions
                  </div>
                  <div class="dropdown-menu">
                    <div class="dropdown-item">
                      <%= link_to 'Edit', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#editModal#{building.id}" } %>
                    </div>
                    <% if building.complaints.blank? && building.violations.blank? %>
                      <div class="dropdown-item">
                        <%= link_to 'Delete', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#deleteModal#{building.id}" } %>
                      </div>
                    <% end %>
                  </div>
                </div>
              </td>
            </tr>
            <%= render 'edit', building: building %>
            <%= render 'delete', building: building %>
          <% end %>
          </tbody>
        </table>
        <div class="d-flex justify-content-center mt-4">
          <%= paginate @buildings, theme: 'bootstrap4' %>
        </div>
        <%= render 'new' %>
      </div>
    </div>
  </div>
</div>
