<div class="app-wrapper flex-column flex-row-fluid" id="kt_app_wrapper">
  <div>
    <div class="app-main flex-column flex-row-fluid" id="kt_app_main">
      <div class="d-flex flex-column flex-column-fluid">
        <div id="kt_app_toolbar" class="app-toolbar d-flex flex-stack py-4 py-lg-8">
          <div class="d-flex flex-grow-1 flex-stack flex-wrap gap-2 mb-n10" id="kt_toolbar">
            <div class="page-title d-flex flex-column justify-content-center flex-wrap me-3">
              <h1 class="page-heading text-dark fw-bold fs-3 my-0">Buildings List</h1>
            </div>
          </div>
        </div>
        <div id="kt_app_content" class="app-content flex-column-fluid">
          <div class="card">
            <div class="card-header border-0 pt-6">
              <div class="card-toolbar">
                <div class="d-flex justify-content-end" data-kt-customer-table-toolbar="base">
                  <%= link_to 'Add Building', '#', class: 'btn btn-primary', data: { controller: 'modal', action: 'modal#open', bs_target: "#newModal" } %>
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <table class="table align-middle table-row-dashed gy-5" id="kt_customers_table">
                <thead>
                <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                  <th class="min-w-125px">Building Name</th>
                  <th class="min-w-125px">Portfolio</th>
                  <th class="min-w-125px">Address</th>
                  <th class="min-w-125px">Complaints</th>
                  <th class="min-w-125px">Violations</th>
                  <th class="min-w-125px">Contacts</th>
                </tr>
                </thead>
                <tbody class="text-gray-600">
                <% @buildings.each do |building| %>
                  <tr>
                    <td><div class="text-gray-800 mb-1"><%= building.name %></div></td>
                    <td><%= building.portfolio.name %></td>
                    <td><div class="text-gray-600 mb-1"><%= building.address1.titleize %>, <%= building.city.titleize %>, <%= building.state %></div></td>
                    <td><%= link_to building.complaints.size, building_complaints_path(building) %></td>
                    <td><%= link_to building.violations.size, building_violations_path(building_id: building.id) %></td>
                    <td></td>
                    <td class="text-end">
                      <%= link_to 'Edit', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#editModal#{building.id}" } %>
                      <% if building.complaints.blank? && building.violations.blank? %>
                        <%= link_to 'Delete', '#', class: 'menu-link px-3', data: { bs_toggle: 'modal', bs_target: "#deleteModal#{building.id}" } %>
                      <% end %>
                    </td>
                  </tr>
                  <%= render 'edit', building: building %>
                  <%= render 'delete', building: building %>
                <% end %>
                </tbody>
              </table>
              <div class="d-flex justify-content-center mt-4">
                <%= paginate @buildings, theme: 'bootstrap4' %>
              </div>
              <%= render 'new' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
