<!--begin::Card body-->
<div class="card-body">
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- First Row -->
  <div class="row">
    <div class="col-lg-6">
      <!-- First Name -->
      <div class="mb-6">
        <label class="form-label required">First Name</label>
        <%= f.text_field :first_name, required: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-6">
      <!-- SMS -->
      <div class="mb-6">
        <label class="form-label">SMS</label>
        <%= f.text_field :sms, class: 'form-control' %>
        <div class="form-text">
          <%= t(:opt_in_message, link: link_to('Privacy Policy', 'https://propmaticly.com/privacy.html', target: '_blank')).html_safe %>
        </div>
      </div>
    </div>
  </div>

  <!-- Second Row -->
  <div class="row">
    <div class="col-lg-6">
      <!-- Last Name -->
      <div class="mb-6">
        <label class="form-label required">Last Name</label>
        <%= f.text_field :last_name, required: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-6">
      <!-- Permissioned Portfolios -->
      <div class="mb-6">
        <label class="form-label">Permissioned Portfolios</label>
        <%= f.select :portfolio_ids, @portfolios.pluck(:name, :id), {}, { multiple: true, data: { controller: 'slim' }, class: 'form-select' } %>
        <div class="text-muted">Permissions the user to the portfolio(s) and subscribes them to alerts</div>
      </div>
    </div>
  </div>

  <!-- Third Row -->
  <div class="row">
    <div class="col-lg-6">
      <!-- Email -->
      <div class="mb-6">
        <label class="form-label required">Email</label>
        <%= f.text_field :email, required: true, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-6">
      <!-- Permissioned Buildings -->
      <div class="mb-6">
        <label class="form-label">Permissioned Buildings</label>
        <%= f.select :building_ids, grouped_options_for_select(@grouped_buildings), {}, { multiple: true, data: { controller: 'slim' }, class: 'form-select' } %>
        <div class="text-muted">Permissions the user to the building(s) and subscribes them to alerts</div>
      </div>
    </div>
  </div>

  <!-- Fourth Row -->
  <div class="row">
    <div class="col-lg-6">
      <!-- Title -->
      <div class="mb-6">
        <label class="form-label">Title</label>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
    </div>
    <div class="col-lg-6">
      <!-- Admin -->
      <div class="mb-6">
        <label class="form-label">Admin</label>
        <div class="form-check">
          <%= f.check_box :admin, class: 'form-check-input' %>
        </div>
        <div class="form-text">
          <%= t(:set_admin_warning_message) %>
        </div>
      </div>
    </div>
  </div>

  <!-- Fifth Row -->
  <div class="row">
    <div class="col-lg-6">
      <!-- Empty Field (if any) or Additional Fields -->
    </div>
  </div>
</div>
<!--end::Card body-->

<!--begin::Actions-->
<div class="card-footer d-flex justify-content-end py-6 px-9">
  <%= link_to 'Cancel', '#', data: { controller: 'modal', action: 'modal#close' }, class: 'btn btn-light btn-active-light-light me-2' %>
  <%= f.submit t("devise.invitations.new.submit_button"), class: 'btn btn-success' %>
</div>
<!--end::Actions-->
