<!--begin::Card body-->
<div class="card-body p-9">
  <%= render "devise/shared/error_messages", resource: resource %>
    <!--begin::Input group-->
    <div class="row mb-6 align-items-center">
      <label class="col-lg-4">First Name</label>
      <div class="col-lg-8">
        <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
      </div>
    </div>
    <!--end::Input group-->

    <!--begin::Input group-->
    <div class="row mb-6 align-items-center">
      <label class="col-lg-4">Last Name</label>
      <div class="col-lg-8">
        <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
      </div>
    </div>
    <!--end::Input group-->

    <!--begin::Input group-->
    <div class="row mb-6 align-items-center">
      <label class="col-lg-4">Email</label>
      <div class="col-lg-8">
        <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
      </div>
    </div>
    <!--end::Input group-->

    <!--begin::Input group-->
    <div class="row mb-6 align-items-center">
      <label class="col-lg-4">SMS</label>
      <div class="col-lg-8">
        <%= f.text_field :sms, class: 'form-control', placeholder: 'SMS' %>
      </div>
    </div>
    <!--end::Input group-->

  <!--begin::Input group-->
  <div class="row mb-6 align-items-center">
    <label class="col-lg-4">Buildings</label>
    <div class="col-lg-8">
      <%= f.select :building_ids, grouped_options_for_select(@grouped_buildings), {}, { multiple: true, data: { controller: 'slim' }, class: 'form-select' } %>
    </div>
  </div>
  <!--end::Input group-->

    <!--begin::Input group-->
    <div class="form-check">
      <%= f.check_box :admin, class: 'form-check-input' %>
      <%= f.label :admin, "Admin", class: 'form-check-label' %>
    </div>
    <!--end::Input group-->
</div>
<!--end::Card body-->

<!--begin::Actions-->
<div class="card-footer d-flex justify-content-end py-6 px-9">
  <%= link_to 'Cancel', '#', data: { controller: 'modal', action: 'modal#close' }, class: 'btn btn-light btn-active-light-primary me-2' %>
  <%= f.submit t("devise.invitations.new.submit_button"), class: 'btn btn-success', id: 'kt_account_profile_details_submit' %>
</div>
<!--end::Actions-->
