<div data-controller="modal">
  <%= turbo_frame_tag "modal" do %>
    <div class="turbo-modal w-1000px">
      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), data: { turbo: false }) do |f| %>
        <!--begin::Card body-->
        <div class="card-body p-9">
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="row">
            <div class='col-6'>
              <!--begin::Input group-->
              <div class="input-group mb-5">
                <span class="input-group-text" id="basic-addon1">
                  <i class="ki-duotone ki-profile-circle fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                </span>
                <%= f.text_field :first_name, class: 'form-control', placeholder: 'First Name' %>
              </div>
              <!--end::Input group-->

              <!--begin::Input group-->
              <div class="input-group mb-5">
                <span class="input-group-text" id="basic-addon1">
                  <i class="ki-duotone ki-profile-circle fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                </span>
                <%= f.text_field :last_name, class: 'form-control', placeholder: 'Last Name' %>
              </div>
              <!--end::Input group-->

              <!--begin::Input group-->
              <div class="input-group mb-5">
                <span class="input-group-text" id="basic-addon1">
                  <i class="ki-duotone ki-sms fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                </span>
                <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
              </div>
              <!--end::Input group-->

              <!--begin::Input group-->
              <div class="input-group mb-5">
                <span class="input-group-text" id="basic-addon1">
                  <i class="ki-duotone ki-message-notif fs-1"><span class="path1"></span><span class="path2"></span><span class="path3"></span></i>
                </span>
                <%= f.text_field :sms, class: 'form-control', placeholder: 'SMS' %>
              </div>
              <!--end::Input group-->

              <!--begin::Input group-->
              <div class="form-check">
                <%= f.check_box :admin, class: 'form-check-input' %>
                <%= f.label :Admin, class: 'form-check-label' %>
              </div>
              <!--end::Input group-->
            </div>

            <div class='col-6'>
              <!--begin::Input group-->
              Buildings
              <%= f.collection_check_boxes :building_ids, @buildings, :id, :name do |b| %>
                <div><%= b.check_box %> <%= b.label { b.text } %></div>
              <% end %>
              <!--end::Input group-->
            </div>
          </div>
        </div>
        <!--end::Card body-->
        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <%= link_to 'Cancel', '#', data: { controller: 'modal', action: 'modal#close' }, class: 'btn btn-light btn-active-light-primary me-2' %>
          <%= f.submit t("devise.invitations.new.submit_button"), class: 'btn btn-primary', id: 'kt_account_profile_details_submit' %>
        </div>
        <!--end::Actions-->
      <% end %>
    </div>
<% end %>
</div>