<div data-controller="modal">
  <%= turbo_frame_tag "modal" do %>
    <div class="turbo-modal w-500px">
      <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
        <!--begin::Card body-->
        <div class="card-body p-9">
          <%= render "devise/shared/error_messages", resource: resource %>

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <%= f.label :first_name, class: 'col-lg-4 col-form-label fs-6' %>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <%= f.text_field :first_name, class: 'form-control form-control-lg form-control-solid' %>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <%= f.label :last_name, class: 'col-lg-4 col-form-label fs-6' %>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <%= f.text_field :last_name, class: 'form-control form-control-lg form-control-solid' %>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <!--begin::Input group-->
          <div class="row mb-6">
            <!--begin::Label-->
            <%= f.label :sms, class: 'col-lg-4 col-form-label fs-6' %>
            <!--end::Label-->
            <!--begin::Col-->
            <div class="col-lg-8 fv-row">
              <%= f.text_field :sms, class: 'form-control form-control-lg form-control-solid' %>
            </div>
            <!--end::Col-->
          </div>
          <!--end::Input group-->

          <% resource.class.invite_key_fields.each do |field| -%>
            <!--begin::Input group-->
            <div class="row mb-6">
              <!--begin::Label-->
              <%= f.label field, class: 'col-lg-4 col-form-label fs-6' %>
              <!--end::Label-->
              <!--begin::Col-->
              <div class="col-lg-8 fv-row">
                <%= f.text_field field, class: 'form-control form-control-lg form-control-solid' %>
              </div>
              <!--end::Col-->
            </div>
            <!--end::Input group-->

            <div class="field">
            </div>
          <% end -%>

          Portfolios
          <% @portfolios&.each do |portfolio| %>
            <%= portfolio.name %>
          <% end %>

          Buildings
          <% @buildings&.each do |building| %>
            <%= building.name %>
          <% end %>
        </div>
        <!--end::Card body-->
        <!--begin::Actions-->
        <div class="card-footer d-flex justify-content-end py-6 px-9">
          <%= link_to 'Cancel', '#', data: { controller: 'modal', action: 'modal#close' }, class: 'btn btn-light btn-active-light-primary me-2' %>
          <%= f.submit t("devise.invitations.new.submit_button"), class: 'btn btn-primary', id: 'kt_account_profile_details_submit' %>
        </div>
        <!--end::Actions-->
      <% end %>
    </div>
<% end %>
</div>