<nav class="navbar navbar-expand-lg">
  <div class="container-fluid p-0 align-items-center">
    <!-- Left-aligned items -->
    <ul class="navbar-nav align-items-center">
      <li><%= link_to image_tag('logo.png', height: '50', alt: 'MyApp Logo'), root_path, class: 'nav-link me-10' %></li>
      <% if user_signed_in? %>
        <li><h4><%= link_to "Dashboard", root_path, class: 'me-10' %></h4></li>
        <% if current_user&.admin? %>
          <li><h4><%= link_to "Users", users_path, class: 'me-10'  %></h4></li>
        <% end %>
      <% end %>
    </ul>

    <!-- Right-aligned item -->
    <ul class="navbar-nav">
      <% if user_signed_in? %>
        <li class="nav-item dropdown">
          <span class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
            Hello <%= current_user&.first_name %>
          </span>
          <div class="dropdown-menu p-5">
            <div>
              <!--begin::Username-->
              <div class="fw-bold">
                <%= current_user&.first_name %> <%= current_user&.last_name %>
              </div>
              <div class="text-muted">
                <%= current_user&.email %>
              </div>
              <!--end::Username-->
            </div>
            <!--end::Menu item-->
<!--
            <div class="dropdown-divider my-2"></div>

            <a href="#" class="dropdown-item">My Subscription</a>

            <div class="dropdown-divider"></div>
-->
            <!--begin::Menu item-->
            <div class="dropdown-item">
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: 'menu-link px-3' %>
            </div>
            <!--end::Menu item-->
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</nav>

