<div>
  <div class="py-lg-8">
    <h2><%= @building&.name %> Inspections List (<%= @inspections.try(:total_count) %>)</h2>
  </div>
  <div class="card">
    <div class="d-flex border-0 p-6">
      <div class="me-auto">
        <%= form_with url: building_inspection_rule_inspections_path(@building, @inspection_rule), method: :get, local: true do %>
          <div class="d-flex">
            <div class="col-lg-12 me-2">
              <%= text_field_tag :search, params[:search], placeholder: "Search", class: "form-control me-2" %>
            </div>
          </div>
        <% end %>
      </div>

      <%# if can?(:create, Inspection) %>
        <%#= link_to 'Add Inspection', '#', class: 'btn btn-success', data: { controller: 'modal', action: 'modal#open', bs_target: "#newModal" } %>
      <%# end %>
    </div>
    <div class="card-body">
      <table class="table align-middle table-row-dashed gy-3">
        <%= @inspection_rule.header_html %>
        <tbody>
        <% @inspections.each do |inspection| %>
          <tr>
            <% @inspection_rule.headers.each do |attribute| %>
              <td><%= inspection.data[attribute.to_s] %></td>
            <% end %>

            <td>
              <div class="dropdown">
                <div class="btn btn-sm btn-light dropdown-toggle">
                  Actions
                </div>
                <div class="dropdown-menu">
                  <% if can?(:read, inspection) %>
                    <div class="dropdown-item">
                      <%= link_to 'View Details', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#inspectionModal#{inspection.id}" } %>
                    </div>
                  <% end %>
                </div>
              </div>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      <div class="d-flex justify-content-center mt-4">
        <%= paginate @inspections, theme: 'bootstrap4' %>
      </div>
      <%#= render 'new' %>
    </div>
  </div>

  <% @inspections.each do |inspection| %>
    <div class="modal fade" id="inspectionModal<%= inspection.id %>" tabindex="-1" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h2 class="fw-bold"><%= inspection.inspection_rule.decorate.compliance_item_humanize %> Inspection Details</h2>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>


          <div class="modal-body">
            <div class="row">
              <% inspection.data.keys.sort.each_slice(10) do |chunk| %>
                <div class="col-lg-6">
                  <% chunk.each do |key| %>
                    <p><strong><%= key.titleize %>: </strong><%= inspection.data[key] %></p> <!-- Capitalized Keys -->
                  <% end %>
                </div>
              <% end %>
            </div>

            <p><strong>Updated On:</strong> <%= inspection&.updated_at&.strftime("%D") %></p>
          </div>
        </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-light" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
