<div>
  <div>
    <div class="py-lg-8">
      <h2>Boiler Inspections List</h2>
    </div>

    <div class="card">
      <div class="card-header border-0 pt-6">
        <div class="card-toolbar">
          <%= link_to 'Create Inspection', '#', class: 'btn btn-success', data: { controller: 'modal', action: 'modal#open', bs_target: "#newModal" } %>
        </div>
      </div>
      <div class="card-body">
        <table class="table align-middle table-row-dashed gy-3">
          <thead>
          <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
            <th class="min-w-125px">Tracking Number</th>
            <th class="min-w-125px">Boiler ID</th>
            <th class="min-w-125px">Report Type</th>
            <th class="min-w-125px">Applicant First Name</th>
            <th class="min-w-125px">Applicant Last Name</th>
            <th class="min-w-125px">Applicant License Type</th>
            <th class="min-w-125px">Applicant License Number</th>
            <th class="min-w-125px">Boiler Make</th>
            <th class="min-w-125px">Boiler Model</th>
            <th class="min-w-125px">Pressure Type</th>
            <th class="min-w-125px">Inspection Type</th>
            <th class="min-w-125px">Inspection Date</th>
            <th class="min-w-125px">Defects Exist</th>
            <th class="min-w-125px">LFF 45 Days</th>
            <th class="min-w-125px">LFF 180 Days</th>
            <th class="min-w-125px">Filing Fee</th>
            <th class="min-w-125px">Total Amount Paid</th>
            <th class="min-w-125px">Report Status</th>

          </tr>
          </thead>
          <tbody class="text-gray-600">
          <% @inspections.each do |inspection| %>
            <tr>
              <td><%= inspection.tracking_number %></div></td>
              <td><%= inspection.boiler_id %></td>
              <td><%= inspection.report_type %></div></td>
              <td><%= inspection.applicantfirst_name %></td>
              <td><%= inspection.applicant_last_name %></td>
              <td><%= inspection.applicant_license_type %></td>
              <td><%= inspection.applicant_license_number %></td>
              <td><%= inspection.boiler_make %></td>
              <td><%= inspection.boiler_model %></div></td>
              <td><%= inspection.pressure_type %></td>
              <td><%= inspection.inspection_type %></div></td>
              <td><%= inspection.inspection_date %></td>
              <td><%= inspection.defects_exist %></td>
              <td><%= inspection.lff_45_days %></td>
              <td><%= inspection.lff_180_days %></td>
              <td><%= inspection.filing_fee %></td>
              <td><%= inspection.total_amount_paid %></td>
              <td><%= inspection.report_status %></td>
              <td></td>
              <td class="text-end">
                <div class="dropdown">
                  <div class="btn btn-sm btn-light dropdown-toggle">
                    Actions
                  </div>
                  <div class="dropdown-menu">
                    <div class="dropdown-item">
                      <%= link_to 'Edit', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#editModal#{inspection.id}" } %>
                    </div>
                    <div class="dropdown-item">
                      <%= link_to 'Delete', '#', class: 'menu-link px-3', data: { controller: 'modal', action: 'modal#open', bs_target: "#deleteModal#{inspection.id}" } %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <%#= render 'edit', inspection: inspection %>
            <%#= render 'delete', inspection: inspection %>
          <% end %>
          </tbody>
        </table>
        <div class="d-flex justify-content-center mt-4">
          <%= paginate @inspections, theme: 'bootstrap4' %>
        </div>
        <%#= render 'new' %>
      </div>
    </div>
  </div>
</div>
