<!DOCTYPE html>
<html lang="en">
<head>
  <title>Propmaticaly</title>
  <%= javascript_importmap_tags %>
  <meta charset="utf-8" />
  <link rel="shortcut icon" href="/assets/media/logos/favicon.ico" />
  <%= stylesheet_link_tag "slimselect.min" %>
  <%= stylesheet_link_tag "application" %>
</head>
<body>
<%= render 'partials/theme-mode/init' %>
<%= render 'layouts/default' %>
</body>
</html>
