<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="card-body border-top py-9">
    <%= render "users/shared/error_messages", resource: resource %>

    <div class="row mb-6">
      <%= f.label :organization_name, class: 'col-lg-2 col-form-label' %><br />
      <div class="col-lg-4 fv-row">
        <%= f.fields_for :organization, Organization.new do |org_fields| %>
          <%= org_fields.text_field :name, class: 'form-control form-control-lg form-control-solid' %>
        <% end %>
      </div>
    </div>

    <div class="row mb-6">
      <%= f.label :first_name, class: 'col-lg-2 col-form-label' %><br />
      <div class="col-lg-4 fv-row">
        <%= f.text_field :first_name, class: 'form-control form-control-lg form-control-solid' %>
      </div>
    </div>

    <div class="row mb-6">
      <%= f.label :last_name, class: 'col-lg-2 col-form-label' %><br />
      <div class="col-lg-4 fv-row">
        <%= f.text_field :last_name, class: 'form-control form-control-lg form-control-solid' %>
      </div>
    </div>

    <div class="row mb-6">
      <%= f.label :email, class: 'col-lg-2 col-form-label' %><br />
      <div class="col-lg-4 fv-row">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control form-control-lg form-control-solid' %>
      </div>
    </div>

    <div class="row mb-6">
      <%= f.label :password, class: 'col-lg-2 col-form-label' %>
      <div class="col-lg-4 fv-row">
        <%= f.password_field :password, autocomplete: "new-password", class: 'form-control form-control-lg form-control-solid' %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %>
      </div>
    </div>

    <div class="row mb-6">
      <%= f.label :password_confirmation, class: 'col-lg-2 col-form-label' %>
      <div class="col-lg-4 fv-row">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control form-control-lg form-control-solid' %>
      </div>
    </div>

    <%= f.hidden_field :admin, value: 1 %>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>

<%= render "users/shared/links" %>
